@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply gfs-neohellenic-regular;
  @apply text-lg;
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}
.theme-main-color{
  @apply bg-gray-100
}
.theme-secondary-color{
  @apply bg-sky-200
}
.theme-secondary-color-hover{
  @apply bg-sky-400
}
.gold-text {
  @apply text-gold-text;
}
.gold-darker-text {
  @apply text-gold-darker-text;
}
.dark-blue-text{
  @apply text-dark-blue;
}
.dark-blue-bg{
  @apply bg-dark-blue;
}
.min-h-screen-minus-header-footer {
  min-height: calc(100vh - 140px);
}
.gfs-neohellenic-regular {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1269C7;
}

.gfs-neohellenic-bold {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gfs-neohellenic-regular-italic {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.gfs-neohellenic-bold-italic {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
